.articleTitle {
    font-weight: bold;
    color: #ca0303;
    margin-top: 0.2em;
}
.articleBody{
    margin-bottom: 20px; 
    background: linear-gradient(to right, #bb3b3b, white 20%);
    box-shadow: 4px 4px 7px;
    padding: 0 13px 13px 13px;
    border: 2px solid #b40303;
    border-radius: 12px;
}
.dateTime {
    font-weight: bold;
}